<p id="notice"><%= notice %></p>

<h1>Listing Snippets</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td valign="top"><%= formatted_language snippet %></td>
        <td>
          <% if snippet.highlighted_code.present? %>
            <%= raw snippet.highlighted_code %>
          <% else %>
            <pre><%= snippet.plain_code %></pre>
          <% end %>
        </td>
        <td valign="top"><%= link_to 'Show', snippet %></td>
        <td valign="top"><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
        <td valign="top"><%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snippet', new_snippet_path %>
